<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>
    <%data.forEach(val=>{ %>
        <h3><% val.name %> </h3>
        <img src="<%= val.img %> " alt="">
        <p><%= val.level %> </p>
        <form action="/save" method="post">
            <input type="hidden" value="<% val.name %>">
            <input type="hidden" value="<%= val.img %>">
            <input type="hidden" value="<%= val.level %>">
            <button>Add To Fav</button>

        </form>

  <%  }) %> 
    
</body>
</html>